/* Configuration Tailwind Custom */
@tailwind utilities;
@import url("https://googleapis.com");

[x-cloak] {
  display: none !important;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "bizantheum";
  src: url("./fonts/bizantheum/Bizantheum.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
